body {
  background: url('/public/images/wool.png');
  font-family: 'Palatino'

}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  padding: 18px;
}
.warning:before {
  content:'\26A0';
  margin-right: 9px;
}

.rfc-page pre {
  font-family: inherit;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.intro {
  height: 70vh;
  width: 100%;
}



.image-wrapper {
  height: 60vh;
  width: 100vw;
  position: relative;
  background-color: black

}

.cover {
  height: 60vh;
  width: 100vw;
  opacity: 0.85;
}

.navbar {
  width: 100%;
  top: 0;

}

.icon-list {
  color: #ca0c0c;
  left: 50%;
  position: absolute;
  margin-top: 10px;
  transform: translate(-50%, 0);

}

.icon {
  padding: 5px;

}

.icon:hover {
  background-color: #d2b0b0;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 150px;
  bottom: 0;
  color: #bdc3c7;

}

.logo {
    display: block;
}

.logo-wrapper {

  position: absolute;
  bottom: 5px;
  left: 50%;
  opacity: 0.75;
  width: 200px;
  transform: translate(-50%, 0);

}


.title-text {
  font-size: 1.5em;
  color: #c0392b;
}

.picture-button {

  font-size: 1.3em;
  position: relative;
  left: 55em;
  bottom: 7em;

}

.picture-button:hover, .picture-button-mobile:hover {
  cursor: pointer;
  color: #ca0c0c;

}

.picture-button-mobile {

  font-size: 1.2em;
  margin: auto;
  text-align: center;

}

.video-button {
  font-size: 1.3em;
  position: relative;
  left: 55em;
  bottom: 6em;
}

.video-button-mobile {
  font-size: 1.2em;
  margin: auto;
  text-align: center;
}


.video-button:hover, .video-button-mobile:hover {
  cursor: pointer;
  color: #ca0c0c;
}

.service-button {
  font-size: 1.3em;
  position: relative;
  left: 55em;
  bottom: 5em;

}

.service-button-mobile {
  font-size: 1.2em;
  margin: auto;
  text-align: center;
}

.service-button:hover, .service-button-mobile:hover {
  cursor: pointer;
  color: #ca0c0c;
}

.about-button-mobile {
  font-size: 1.2em;
  margin: auto;
  text-align: center;
  margin-top: 1em;
}

.about-button-mobile:hover {
  cursor: pointer;
  color: #ca0c0c;
}

.about-paragraph-mobile {
  width: 75%;
  margin-left: 10%;
  margin-top: 15%;
  margin-bottom: 15%;
}
.videolist-video {
  width: 100%;
}

.aspect-ratio {
  position: relative;
  width: 75%;
  height: 0;
  padding-bottom: 51%;
  margin-left: auto;
  margin-right: auto;

}

.aspect-ratio .videolist-video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.photo {
    max-height: 55vh;
    max-width: 65vw;
}

.about {
  left: 3em;
  font-size: 1.3em;
  position: relative;
  width: 8em;
  top: 1.3em;
}

.about-paragraph {
  left: 12em;
  width: 53em;
  position: relative;
}


.video-modal {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.services-modal {
  height: 75vh;
  overflow-y: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    margin:auto;
}

